header, .project:not(:last-child) {
  border-bottom: 1px solid #0630ec;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #10a5eb;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #676867;
  font-weight: bold;
  margin-left: -5px;
}
